{% extends 'base.html' %} {% block content %}
<div id="room-container">
  <h1 id="home-header">SecureChatApp 💬</h1>

  <div id="room-subsection">
    <h2 id="room-code-display">Room Code: <span>{{room}}</span></h2>
    <a href="{{ url_for('logout') }}" id="leave-chat-btn">Leave the Chat</a>
  </div>
  <div id="chat-room-widget">
    <div id="msgs-container">
      <ul id="messages"></ul>
    </div>
    <div id="message-box">
      <input type="text" placeholder="Enter your message" id="message-input" name="message" />
      <button type="submit" id="send-btn" onclick="sendMessage()">Send</button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/10.5.1/jsrsasign-all-min.js"></script>

  <script type="text/javascript">


    var socketio = io();
    console.log('Socket.io initialized');

    function trimEmail(email) {
        return email.split('@')[0];
    }

    socketio.on("message", function (message) { 
      console.log('Message received:', message);
      const { message: msgContent, sender, signature, publicKey } = message;
      
      const isVerified = verifySignature(msgContent, signature, publicKey);
      
      createChatItem(msgContent, sender, isVerified)});
      
      
      
      createChatItem(message.message, message.sender) });
    function createChatItem(message, sender) {
      var messages = document.getElementById("messages");
      if (sender === "") {
        content = `<p class="member-activity">${message}</p>`;
      } else {
        var senderIsUser = "{{user}}" === sender;
        var trimmedSender = trimEmail(sender);
        var content = `

          <li class="message-item ${senderIsUser ? "self-message-item" : "peer-message-item"}">
                <span class="sender-name ${senderIsUser ? "self-sender" : "peer-sender"}">${senderIsUser ? "You" : trimmedSender}</span>
                <p class="message-content">${message}</p>
                <small class="${senderIsUser ? "muted-text" : "muted-text-white"}">${new Date().toLocaleString()}</small>
            </li>
      `;}
      messages.innerHTML += content;
    }
    function sendMessage() {
      var msgInput = document.getElementById("message-input");
      if (msgInput.value === "") return;
      var msg = msgInput.value;
      socketio.emit("message", { message: msg });
      msgInput.value = "";
    }
  </script>
  {% for message in messages %}
  <script type="text/javascript">
    createChatItem("{{message.message}}", "{{message.sender}}");
  </script>
  {% endfor %}
</div>
{% endblock %}